/**** ASIDE STYLES ****/

aside {
	width: 15%;
	float: left;
	position: absolute;
	background-color: #41385F;
	border: 1px solid #2D224F;
	padding-right: 10px;
}

aside a {
	text-decoration: none;
	color: #756D8F;
	font-size: 1em;
	text-align: left;
}

aside a:hover {
	color: #2D224F;
}

aside li {
	clear: both;
}
/**** FOOTER STYLES ****/

footer {
	background-color: #8C5774;
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	padding-top: 12px;
	border-top: 2px solid #3D1E4C;
	border-bottom: 2px solid #3D1E4C;
	color: #703C58;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #CBACBD;
}

footer a:hover {
	color: #5D2142;
}
footer p {
	text-align: center;
	color: #703C58;
}


/**** CLASS STYLES ****/

.code {
	font-family: 'Droid sans mono';
}
/**** ID STYLES ****/

#boxModel {
	display: block;
	margin: auto;
}