/**** BODY STYLES ****/

body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: block;
	line-height: 1.5em;
	font-family: Verdana;
	background-color: #654A74;
}

/**** HEADER STYLES ****/

header {
	width: 100%;
	height: 150px;
	background-color: #654A74;
	border: 2px solid #3D1E4C;
}

header h1 {
	font-family: 'Droid sans mono';
	margin: auto;
	text-align: center;
	padding-top: 60px;
	font-size: 3.25em;
	color: #302237;
}

/**** NAV STYLES ****/

nav {
	display: inline-block;
	text-decoration: none;
	background-color: blue;
	width: 100%;
	text-align: center;
	background-color: #8C5774;
	border-right: 2px solid #5D2142;
	border-left: 2px solid #5D2142;
	border-bottom: 2px solid #5D2142;
}

nav a {
	text-decoration: none;
	color: #CBACBD;
}

nav a:hover {
	color: #5D2142;
}

nav ul {
	list-style-type: none;
	margin-left: -75px;
}

nav li {
	display: inline;
	font-size: 1.25em;
	padding: 7px;
	margin: auto:;
	text-align: center;
}

/**** MAIN STYLES ***/

main {
	padding: 0 20%;
	text-align: left;
	font-size: 1.25em;
	color: #302237;
}

main a {
	text-decoration: none;
	color: #7F678B;
}

main a:hover {
	color: #302237;
}

/**** H STYLES ****/

h1, h2, h3, h4, h5  {
	text-align: center;
}
/*
h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

h5 {
	text-align: center;
}*/

/**** FOOTER STYLES ****/

footer {
	background-color: #8C5774;
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	border-top: 2px solid #3D1E4C;
	border-bottom: 2px solid #3D1E4C;
	color: #703C58;
}

footer a {
	text-decoration: none;
	color: #CBACBD;
}

footer a:hover {
	color: #5D2142;
}
footer p {
	text-align: center;
	color: #703C58;	
}

/**** ANCHOR FOOTER ****/

/*.anchorFooter {
	bottom: 0;
}*/

/**** ABOUT PIC ****/

#aboutpic {
	position: relative;
	margin: 10px 0px 0px 170px;
	width: 50%;
	border: 2px solid #3D1E4C;
}

